body{
    background: #FFF8E1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
a{
    margin-right: 1rem;
    text-decoration: none;
    color: #FFF8E1;
}


@media only screen and (min-width:625px) and (orientation : portrait){
    .sn-grid-template{
        display: grid;
        grid-template-areas:
        "sidebar header header"
        "sidebar content content"
        "sidebar footer footer";
        grid-template-columns: 1fr 2fr 2fr;
        grid-template-rows: 50px 3fr 50px;
        height: 100%;
     }
    
    .sn-header{
        grid-area: header;
        background: #9C27B0;
        text-align: center;
        height: 100%;
        
        display: grid;
        grid-template-areas:
         "headerMain"
         "headerSub";
         grid-template-rows: 3fr auto;
    }
    
    code{
       font-size: 1.5rem;
    }
    

    .sn-header-main{
        grid-area: "headerMain"
        
        
    }

    .sn-header-sub{ grid-area: "headerSub"}
    
    
    .sn-sidebar {
    grid-area: sidebar;
    background-color: #757575;
    /*sidebar grid*/
    display: grid;
    grid-template-areas: 
    "sidebarLogo"
    "sidebarNav";
    grid-template-rows: 150px 80%;
    grid-template-columns: 100%;
    }
    
    .sn-main{
    grid-area: content;
    overflow: auto;
    }
    
    .sn-footer{
    grid-area: footer;
    background: #9C27B0;
    text-align: center;
    padding: 0.5rem;
    color: #FFF8E1;
    }
    
    .sn-sidebar-logo{
        grid-area: sidebarLogo;
        height: 100px;
        width: 80%;
        padding: 1rem;
        margin: 0 auto;
       
    }
    
    .sn-sidebar-nav{
        grid-area: sidebarNav;        
    }

    .sn-sidebar-nav ul {
        list-style: none;
    }
    
}


@media only screen and (max-device-width:768px) and (orientation : portrait){
    .sn-grid-template{
        display: grid;
        grid-template-areas:
        "header header header"
        "content content content"
        "sidebar sidebar sidebar"
        "footer footer footer";
        grid-template-columns: 1fr 2fr 2fr;
        grid-template-rows: 50px auto 3fr 50px;
        height: 100%;
     }
    
    .sn-header{
        grid-area: header;
        background: #9C27B0;
        text-align: center;
        height: 100%;
        
        display: grid;
        grid-template-areas:
         "headerMain"
         "headerSub";
         grid-template-rows: 3fr auto;
    }
    
    code{
       font-size: 1.5rem;
    }
    

    .sn-header-main{
        grid-area: "headerMain"
    }

    .sn-header-sub{ grid-area: "headerSub"}
    
    
    .sn-sidebar {
    grid-area: sidebar;
    background-color: #757575;
    /*sidebar grid*/
    display: grid;
    grid-template-areas: 
       "sidebarLogo sidebarNav";
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    }
    
    .sn-main{
    grid-area: content;
    overflow: auto;
    }
    
    .sn-footer{
    grid-area: footer;
    background: #9C27B0;
    text-align: center;
    padding: 0.5rem;
    color: #FFF8E1;
    }
    
    .sn-sidebar-logo{
        grid-area: sidebarLogo;
        width: 100%;
        margin: auto 0;
    }
    
    .sn-sidebar-nav{
        grid-area: sidebarNav;  
        margin: auto auto;      
    }

    .sn-sidebar-nav ul li{
        display: inline;     
    }


}



/*Landscape View*/
@media only screen  and (orientation : landscape){

    .sn-grid-template{
        display: grid;
        grid-template-areas:
        "sidebar header header"
        "sidebar content content"
        "sidebar footer footer";
        grid-template-columns: 1fr 2fr 2fr;
        grid-template-rows: 50px 3fr 50px;
        height: 100%;
     }
    
    .sn-header{
        grid-area: header;
        background: #9C27B0;
        text-align: center;
        height: 100%;
        
        display: grid;
        grid-template-areas:
         "headerMain"
         "headerSub";
         grid-template-rows: 3fr auto;
    }
    
    code{
       font-size: 1.5rem;
    }
    

    .sn-header-main{
        grid-area: "headerMain"
        
        
    }

    .sn-header-sub{ grid-area: "headerSub"}
    
    
    .sn-sidebar {
    grid-area: sidebar;
    background-color: #757575;
    /*sidebar grid*/
    display: grid;
    grid-template-areas: 
    "sidebarLogo"
    "sidebarNav";
    grid-template-rows: 150px 80%;
    grid-template-columns: 100%;
    }
    
    .sn-main{
    grid-area: content;
    overflow: auto;
    }
    
    .sn-footer{
    grid-area: footer;
    background: #9C27B0;
    text-align: center;
    padding: 0.5rem;
    color: #FFF8E1;
    }
    
    .sn-sidebar-logo{
        grid-area: sidebarLogo;
        height: 100px;
        width: 80%;
        padding: 1rem;
        margin: 0 auto;
    }
    
    .sn-sidebar-nav{
        grid-area: sidebarNav;        
    }

    .sn-sidebar-nav ul {
        list-style: none;
    }
}